.app-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: #e5ddd5;
  min-height: 100vh;
  min-width: 97vw;
}

.chat-app {
  background: white;
  width: 50%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.app-header {
  background: #119f04;
  color: #FFFFFF;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  padding: 10px;
  width: 30%;
  background: #f0f0f0;
  border-right: 1px solid #ddd;
  color: black;
}

.user {
  color: black;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px; 
}

.user:hover {
  background: #30f16a;
}
.user.active{
  background: #7ae772;
}

.avatar {
  font-size: 24px;
  margin-right: 10px;
}

.name {
  font-size: 16px;
}

.chat-window {
  width: 70%;
  display: flex;
  flex-direction: column;
  background: #ece5dd;
  overflow-y: auto;
}

.chat-header {
  background: #075e54;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.chat-username {
  font-weight: bold;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 18px;
  font-size: 14px;
  line-height: 18px;
}

.sent {
  background: #F2F7FB;
  color: black;
  align-self: flex-end;
}

.received {
  background: #208D7F;
  align-self: flex-start;
}

.chat-footer {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
  border-top: 1px solid #ddd;
}

.chat-footer input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  margin-right: 10px;
}

.chat-footer button {
  background: #05ef4b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10%;
  cursor: pointer;
}

.avatar-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}